@mixin sm {
  @media screen and(max-width: 500px) {
    @content;
  }
}

@mixin md {
  @media screen and(max-width: 800px) {
    @content;
  }
}

@mixin lg {
  @media screen and(max-width: 1200px) {
    @content;
  }
}

@mixin rwd($width) {
  @media screen and(max-width: $width) {
    @content;
  }
}


